In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/Users/salilvaidya/Desktop/BA_Project/BA_project_master.csv")

In [3]:
type(data)

pandas.core.frame.DataFrame

In [5]:
data.tail()

,End of Period,Credit Number,Region,Country Code,Country,Borrower,Credit Status,Service Charge Rate,Currency of Commitment,Project ID,...,Repaid 3rd Party,Due 3rd Party,Credits Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date
8198,03/31/2018 12:00:00 AM,IDAS0250,LATIN AMERICA AND CARIBBEAN,BO,Bolivia,MINISTRO DE ECONOMIA Y,Fully Repaid,0.75,USD,P006135,...,$0.00,$0.00,$0.00,07/01/1990 12:00:00 AM,01/01/2030 12:00:00 AM,06/18/1980 12:00:00 AM,02/26/1980 12:00:00 AM,12/12/1980 12:00:00 AM,12/31/1984 12:00:00 AM,NaN
8199,03/31/2018 12:00:00 AM,IDAS0260,AFRICA,SN,Senegal,MINISTERE DE L'ECONOMIE ET DES FINANCES,Fully Repaid,0.75,USD,P002307,...,$0.00,$0.00,$0.00,01/15/1984 12:00:00 AM,07/15/1990 12:00:00 AM,06/18/1980 12:00:00 AM,05/22/1980 12:00:00 AM,08/29/1980 12:00:00 AM,06/30/1986 12:00:00 AM,NaN
8200,03/31/2018 12:00:00 AM,IDAS0270,AFRICA,TZ,Tanzania,Ministry of Finance and Economic Affairs,Fully Repaid,0.75,USD,P002729,...,$0.00,$0.00,$0.00,09/15/1983 12:00:00 AM,03/15/2030 12:00:00 AM,06/30/1980 12:00:00 AM,06/12/1980 12:00:00 AM,09/12/1980 12:00:00 AM,09/30/1982 12:00:00 AM,NaN
8201,03/31/2018 12:00:00 AM,IDA61410,AFRICA,3W,Western Africa,BANQUE OUEST AFRICAINE DE DEVELOPMENT,Disbursing,0.00,EUR,P161658,...,$0.00,$0.00,$142987400.00,10/15/2023 12:00:00 AM,04/15/2048 12:00:00 AM,10/13/2017 12:00:00 AM,09/28/2017 12:00:00 AM,12/21/2017 12:00:00 AM,12/31/2022 12:00:00 AM,02/26/2018 12:00:00 AM
8202,03/31/2018 12:00:00 AM,IDA56540,EAST ASIA AND PACIFIC,VN,Vietnam,STATE BANK OF VIETNAM,Disbursing,2.00,XDR,P126507,...,$0.00,$0.00,$128230452.00,11/15/2020 12:00:00 AM,05/15/2040 12:00:00 AM,07/09/2015 12:00:00 AM,05/29/2015 12:00:00 AM,10/09/2015 12:00:00 AM,12/31/2020 12:00:00 AM,02/23/2017 12:00:00 AM

In [6]:
data["Board Approval Date"].dtype

dtype('O')

In [7]:
data["Board Approval Date"] = pd.to_datetime(data["Board Approval Date"], format = '%m/%d/%Y %H:%M:%S %p' )

In [8]:
data["Board Approval Date"].dtype

dtype('<M8[ns]')

In [9]:
data['Year'] = data["Board Approval Date"].dt.year

In [10]:
data['Year']

0       1961
1       1961
2       1961
3       1961
4       1961
5       1961
6       1961
7       1961
8       1961
9       1961
10      1961
11      1961
12      1961
13      1961
14      1961
15      1961
16      1961
17      1961
18      1962
19      1962
20      1962
21      1962
22      1962
23      1962
24      1962
25      1962
26      1962
27      1962
28      1962
29      1962
        ...
8173    1999
8174    2000
8175    1966
8176    1966
8177    1968
8178    1968
8179    1969
8180    1969
8181    1969
8182    1970
8183    1970
8184    1970
8185    1972
8186    1972
8187    1973
8188    1973
8189    1974
8190    1974
8191    1975
8192    1975
8193    1977
8194    1978
8195    1978
8196    1979
8197    1979
8198    1980
8199    1980
8200    1980
8201    2017
8202    2015
Name: Year, Length: 8203, dtype: int64

In [14]:
data.Year.unique()

array([1961, 1962, 1963, 1964, 2016, 1965, 1966, 1967, 2018, 1968, 1973,
       1969, 1974, 1975, 1970, 1971, 1976, 1972, 1977, 2017, 1979, 1978,
       1980, 2014, 1981, 1986, 2015, 1982, 1983, 1988, 1984, 1987, 1985,
       2003, 2004, 1993, 1989, 2009, 1990, 1992, 1991, 1997, 1994, 1998,
       1999, 2000, 2001, 1995, 1996, 2005, 2002, 2006, 2008, 2007, 2011,
       2010, 2012, 2013])

In [12]:
len(data)

8203

In [ ]:
data.tail()

In [17]:
data['Country Code'].unique()

array(['HN', 'SD', 'IN', 'CL', 'CO', 'TW', 'CR', 'PK', 'PY', 'JO', 'SZ',
       'KR', 'NI', 'TN', 'SV', 'HT', 'TR', 'ET', 'TZ', 'SY', 'EC', 'BD',
       'NE', 'BO', 'BW', 'KE', 'AF', 'MR', 'NG', 'SO', 'MA', 'LS', 'BI',
       'MG', 'ML', 'SN', 'CM', 'UG', 'MW', 'BT', 'GH', 'LK', 'TD', 'ID',
       'TG', 'PG', 'GY', 'BF', 'BJ', 'CF', 'ZR', 'NP', 'SL', 'EG', 'GM',
       'CG', 'RW', 'DO', 'MU', 'RY', 'PH', 'LR', 'GQ', 'TH', 'CI', 'MM',
       'WS', 'GN', 'LA', 'ZM', 'VN', 'KM', 'GW', 'MV', '6R', '3W', 'SB',
       'ZW', 'CN', 'DM', 'DJ', 'CV', 'VU', 'VC', 'GD', 'ST', 'MZ', 'TO',
       'KG', 'LC', 'KN', 'AO', 'MN', 'AL', 'ER', 'KH', 'AM', 'MK', 'GE',
       'AZ', 'TJ', 'BA', 'MD', '3A', 'YF', 'UZ', 'ME', '3T', 'IQ', 'XK',
       'SS', 'TP', 'LB', 'FM', 'KI', 'TV', 'MH', '4P', '7C', '3E', '1W',
       '6C', '4M'], dtype=object)

In [19]:
data['Closed Date (Most Recent)'] = pd.to_datetime(data['Closed Date (Most Recent)'], format = '%m/%d/%Y %H:%M:%S %p' )

In [20]:
data['Duration'] = data['Closed Date (Most Recent)'].dt.year - data['Board Approval Date'].dt.year

In [21]:
data.head()

,End of Period,Credit Number,Region,Country Code,Country,Borrower,Credit Status,Service Charge Rate,Currency of Commitment,Project ID,...,Credits Held,First Repayment Date,Last Repayment Date,Agreement Signing Date,Board Approval Date,Effective Date (Most Recent),Closed Date (Most Recent),Last Disbursement Date,Year,Duration
0,03/31/2018 12:00:00 AM,IDA00010,LATIN AMERICA AND CARIBBEAN,HN,Honduras,MINISTERIO DE HACIENDA Y CREDITO PUBLICO,Fully Repaid,0.75,USD,P007335,...,$0.00,09/01/1971 12:00:00 AM,03/01/2011 12:00:00 AM,05/12/1961 12:00:00 AM,1961-05-11 12:00:00,06/29/1961 12:00:00 AM,1967-07-31 12:00:00,NaN,1961,6.0
1,03/31/2018 12:00:00 AM,IDA00020,AFRICA,SD,Sudan,Ministry of Finance and National Economy,Repaying,0.75,USD,P002553,...,$7374384.82,07/15/1971 12:00:00 AM,01/15/2011 12:00:00 AM,06/14/1961 12:00:00 AM,1961-06-13 12:00:00,10/19/1961 12:00:00 AM,1971-12-31 12:00:00,NaN,1961,10.0
2,03/31/2018 12:00:00 AM,IDA00030,SOUTH ASIA,IN,India,CONTROLLER OF AID ACCOUNTS & AUDIT,Fully Repaid,0.75,USD,P009610,...,$0.00,08/15/1971 12:00:00 AM,02/15/2011 12:00:00 AM,06/21/1961 12:00:00 AM,1961-06-20 12:00:00,08/25/1961 12:00:00 AM,1967-06-30 12:00:00,NaN,1961,6.0
3,03/31/2018 12:00:00 AM,IDA00040,LATIN AMERICA AND CARIBBEAN,CL,Chile,MINISTERIO DE OBRAS PUBLICAS,Fully Repaid,0.75,USD,P006585,...,$0.00,12/01/1971 12:00:00 AM,06/01/2011 12:00:00 AM,06/28/1961 12:00:00 AM,1961-06-27 12:00:00,12/21/1961 12:00:00 AM,1968-12-31 12:00:00,NaN,1961,7.0
4,03/31/2018 12:00:00 AM,IDA00050,LATIN AMERICA AND CARIBBEAN,CO,Colombia,MINISTERIO DE HACIENDA Y CREDITO PUBLICO,Fully Repaid,0.75,USD,P006701,...,$0.00,12/01/1971 12:00:00 AM,06/01/2011 12:00:00 AM,08/28/1961 12:00:00 AM,1961-08-15 12:00:00,11/25/1961 12:00:00 AM,1968-12-31 12:00:00,NaN,1961,7.0